{% extends 'shop/basic.html' %}

{% block title %} amaclone India About Us {% endblock %}

{% block body %}

<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="container-fluid">
      <!-- Example row of columns -->
        <img src="/media/shop/images/amazonoffice.jpeg" style="width:100%; height: 350px">
  
    </div> <!-- /container -->

      <div class="jumbotron">
      <div class="container">
        <h1 class="display-3">AmaClone India!</h1>
        <p>Our Leadership Principles aren't inspirational wall hangings. These Principles work hard, just like we do. We use them, every day, whether they're discussing ideas for new projects, deciding on the best solution for a customer's problem, or interviewing candidates.</p>
        <p><a class="btn btn-primary btn-lg" href="/blog/blogpost/4" role="button">Learn more &raquo;</a></p>
      </div>
    </div>
  
  </main>
  
{% endblock %}